.Checkout .Conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EscolhaDeAssentos {
  width: 100%;
}

.Assentos-Cinema {
  background-color: #323438;
  display: flex;
  flex-direction: column;
  /* height: 60vh; */
}
.Assentos-Cinema-Fileira {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.Assentos-Cinema-Fileira-Seat {
  background-color: #8a65e0;
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CheckoutProcess-Etapas {
  display: flex;
  align-items: center;
  width: 200px;
}
.CheckoutProcess-Etapas-Etapa {
  background-color: #5324C0;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CheckoutProcess-Etapas-Linha {
  height: 1px;
  width: 20px;
  background-color: darkgrey;
}